<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    
    <div class="card border-dark" style="width: 40rem;">
        
        <div class="card-body">
                
                <div class="text-center">
                    <h3 class="card-title">Restablecer contraseña</h3>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Contraseña nueva</span>
                    <input class="form-control" type="password" name="password"/>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Confirmar contraseña</span>
                    <input class="form-control" type="password" name="confirmaPassword"/>
                </div>

                <div class="text-center">
                        
                    <button class="btn btn-primary" type="submit">Restablecer</button>
    
                </div>
        </div>
    </div>
</div>