<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://github.com/mdo.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Nombre Negocio</h5>
              <p class="card-text">¿Está seguro que desea eliminar su negocio?</p>
              <button type="button" class="btn btn-danger">Eliminar</button>
            </div>
          </div>
        </div>
      </div>

</div>
