<div class="container text-center">
    <div class="col">
        <div class="container text-center">
            <h2>Mis eventos</h2>
        </div>
    </div>
    <div class="col">
        <div class="container text-end">
            <a class="btn btn-primary" routerLink="/crear-evento" role="button">Agregar evento</a>
        </div>
    </div>
    <div class="row align-items-start">
        <div class="col">
            <h3>Eventos vigentes</h3>
            <div class="container text-start">
                <!-- aqui va el for para agregar los eventos vigentes-->
            </div>
        </div>
        <div class="col">
            <h3>Eventos terminados</h3>
            <div class="container text-start">
                <!-- aqui va el for para agregar los eventos terminados-->
            </div>
        </div>
    </div>
</div>