<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    
    <div class="card border-dark" style="width: 40rem;">
        
        <div class="card-body">
                
                <div class="text-center">
                    <h3 class="card-title">Olvidé mi contraseña</h3>
                </div>

                <p>Ingrese su correo para enviar un código de verificación</p>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Correo electrónico</span>
                    <input class="form-control" type="text" name="email"/>
                </div>

                <div class="text-center">

                    <button class="btn btn-primary m-2 " type="button">Obtener código</button>

                    <p>Ingrese el código de verificación</p>
    
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Código de verificación</span>
                            <input class="form-control" type="text" name="email"/>
                        </div>
                        
                    <button type="button" class="btn btn-primary m-2 ">Verificar</button>
    
                </div>
        </div>
    </div>
</div>