<div class="container text-center">
    
    <div class="row">
        <h2>Mi perfil</h2>
    </div>

    <div class="row">

        <div class="col-4">
            <img src="https://github.com/mdo.png" class="img-fluid" alt="...">
            <h4>Nickname</h4>
            <button type="button" class="btn btn-danger">Eliminar perfil</button>
        </div>

        <div class="col-8">

            <div class="container text-start ">
                <h5>Nombre:</h5>
                <h5>Ciudad de residencia:</h5>
                <h5>Correo electrónico:</h5>
            </div>
            
        </div>

    </div>
</div>