<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Nombre negocio</h5>
                <p class="card-text">Descripción del negocio</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                <div class="d-flex justify-content-end">
                    <!-- Esta línea establece la alineación de los botones a la derecha -->
                    <button type="button" class="btn btn-primary mx-1">Actualizar</button>
                    <!-- mx-1 agrega un pequeño espacio entre botones -->
                    <button type="button" class="btn btn-secondary mx-1">Eliminar</button>
                    <button type="button" class="btn btn-danger mx-1">Responder comentarios</button>
                </div>
            </div>
        </div>
    </div>
</div>
