<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    
    <div class="card border-dark" style="width: 40rem;">
        
        <div class="card-body">
            
            <form #f="ngForm" (ngSubmit)="login()">
                
                <div class="text-center">
                    <h3 class="card-title">Inicio de sesión</h3>
                </div>

                <div class="form-floating mb-3">
                    <input type="email" class="form-control border-dark" id="floatingInput" placeholder="name@example.com"
                        name="email" [(ngModel)]="loginDTO.email" required />
                    <label for="floatingInput">Correo electrónico </label>
                </div>

                <div class="form-floating mb-3">
                    <input type="password" class="form-control border-dark" id="floatingPassword" placeholder="Password"
                        name="password" [(ngModel)]="loginDTO.password" required />
                    <label for="floatingPassword">Contraseña</label>
                </div>

                <button type="button" class="btn btn-link" routerLink="/recuperar-password">¿Olvidó su contraseña?</button>

                <div class="text-center">

                    <button class="btn btn-primary m-2 " type="submit">Ingresar</button>

                    <p>¿Nuevo en la aplicación?</p>  
                    <app-alerta [alerta]="alerta"></app-alerta>
                    <button type="button" class="btn btn-primary m-2 " routerLink="/registro">Registrarse</button>
    
                </div>
            </form>
        </div>
    </div>
</div>