<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">

    <div class="card mb-3" style="max-width: 540px;">

        <div class="container text-start ">
            <h4>Nickname</h4>
        </div>

        <div class="row g-0">

            <div class="col-md-4">
                <img src="https://github.com/mdo.png" class="img-fluid rounded-start ms-2 mb-2 " alt="...">
            </div>

            <div class="col-md-8">

                <div class="card-body">
                    <div class="mb-3">
                        <h4>¿Está seguro que desea eliminar su perfil?</h4>
                    </div>
                    <div class="container text-center">
                        <button type="button" class="btn btn-danger">Eliminar</button>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>