<div class="container mt-4">
    <div class="row">
      <div class="col-md-8">
        <h3>Compartir experiencia...</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu
          pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.
        </p>
        <p>
          Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum
          quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna.
        </p>
        <p>
          Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam
          mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit.
        </p>
        <p>
          Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet Placeholder
        </p>
      </div>
      <div class="col-md-4">
        <img src="path/to/your/image.jpg" class="img-fluid" alt="Placeholder">
      </div>
    </div>
  </div>