<header class="py-3 mb-3 border-bottom">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
                data-bs-toggle="dropdown" aria-expanded="false">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap" />
                </svg>
            </a>
            <ul class="dropdown-menu text-small shadow">
                <li><a class="dropdown-item active" routerLink="/inicio" aria-current="page">Mapa</a></li>
                <li><a class="dropdown-item" href="#">Muro</a></li>
                <li><a class="dropdown-item" routerLink="/sitios-destacados" >Sitios destacados</a></li>
                <li><a class="dropdown-item" routerLink="/eventos">Eventos</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Mis eventos</a></li>
                <li><a class="dropdown-item" href="#">Mis negocios</a></li>
            </ul>
        </div>

        <div class="d-flex align-items-center justify-content-center">

            <form class="me-2" role="search">
                <input type="search" class="form-control" placeholder="Buscar un negocio..." aria-label="Search">
            </form>

            <form class="me-2" role="search">
                <input type="search" class="form-control" placeholder="Distancia del negocio..."
                    aria-label="Search field 2">
            </form>
            
            <form class="me-2" role="search">
                <select class="form-control" aria-label="Categoría del negocio">
                    <option value="" disabled selected>Categoría del negocio...</option>
                    <option value="restaurant">Restaurante</option>
                    <option value="cafe">Café</option>
                    <option value="store">Tienda</option>
                    <option value="salon">Salón de belleza</option>
                    <option value="gym">Gimnasio</option>
                    <!-- Añade más opciones según sea necesario -->
                </select>
            </form>
        </div>

        <div class="flex-shrink-0 dropdown">
            <div class="d-flex">
                <button class="btn btn-primary me-2">Iniciar sesión</button>
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small shadow">
                    <li><a class="dropdown-item" routerLink="/perfil">Ver perfil</a></li>
                    <li><a class="dropdown-item" routerLink="/negocios-perfil">Mis negocios</a></li>
                    <li><a class="dropdown-item" routerLink="/eventos-perfil">Mis eventos</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>