<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">

    <div class="card mb-3" style="max-width: 540px;">

        <div class="container text-center">
            <h4>Motivo</h4>
        </div>

        <div class="row g-0">

            <div class="col-md-4">
                <img src="https://github.com/mdo.png" class="img-fluid rounded-start" alt="...">
                <h5 class="card-title">Nombre Negocio</h5>
                <h5 class="card-title"><span class="badge text-bg-secondary">Categoría Negocio</span></h5>
            </div>

            <div class="col-md-8">

                <div class="card-body">
                    <div class="mb-3">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"
                         placeholder="Escriba el motivo de rechazo del negocio"></textarea>
                    </div>
                    <div class="container text-center">
                        <button type="button" class="btn btn-danger">Rechazar</button>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>